---
---

.mdicon {
  display: inline-flex;
  align-self: center;
  margin-right: 0.25em;
  margin-left: 0.25em;

  &:not(.inline) {
    margin-right: 0.5em;
  }

  svg {
    position: relative;
    top: .125em;
    height: 1em;
    width: 1em;
  }
}

//.mdicon:not(.mdicolor) svg { fill: $text; }
.mdicon.baseline svg { top: -0.05em; }

#navbar {
  padding-left: 50px;
  background-color: #f99;
  border-bottom: 1px solid #c00;

  .navbar-item:hover, .navbar-item:focus {
    background-color: #ff8080;
    color: #900;
  }
}